* {
    margin: 0;
    padding: 0;
}
header,
main,
footer,
nav,
aside,
section,
div {
    display: block;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
header a{
    color: black;
}
.list-group-item a:hover{
    color: lightskyblue;
    transition: 0.3s;
}
body{
    height: 100vh;
    background-color: lavenderblush;
}
#logoImage{
    background-image: url("../uploads/logo.png");
    background-position: left;
    background-size: 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}
.list-group-item .bookImage{
    height: 30vh;
}

.list-group-item h3{
width: 20vw;
    max-width: 200px;
}
.bookImage{
    height: 50vh;

}
#goBack{
    margin-top: 10vh;
}
#goBack a{
    font-weight: bold;
}
#goBack a:hover{
    font-weight: bolder;
    color: lightskyblue;
}
.emptyListMessage{
    color: darkgrey;
}
.ratingStar{

    background-position: left;
    background-size: 40px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}
.sGold{
    background-image: url("../uploads/goldenStar.svg");
}
.sGrey{
    background-image: url("../uploads/greyStar.svg");
}
#selectorDiv div{
    max-width: 220px;
}
@media only screen and (min-width: 900px) {
    .list-group-item{
        max-width: 300px;
    }
    .bookImage{
        min-width: 315px;
        max-width: 40vw;
    }
    #bookCovers .bookImage{
        max-width: 20vw;
    }
}